@import "../../assets/scss/variables.scss";
@import "../../assets/scss/breakpoints.scss";


.login {
    display: grid;
    grid-template-columns: 60% 40%;
    min-height: 100vh;
    background: $white;
    @include sm {
        grid-template-columns: 1fr;
    }
    .content {
        display: flex;
        align-items: center;
        
        .form {
            max-width: 450px;
            width: 100%;
            margin: auto;
            padding: 1rem;
            @include sm {
                padding: 2rem 1rem;
            }
            .googleBtn {
                background: $gray;
                width: 100%;
                padding: 11px;
                margin-top: 2rem;
                color: $dark;
                border-radius: 16px;
                img {
                    margin-right: 10px;
                }
            }
            .or {
                margin: 2rem 0;
                display: flex;
                align-items: center;
                .left, .right {
                    width: 100%;
                    background: $secondary;
                    height: 1px;
                }
                span {
                    margin: 0 10px;
                }
            }
            .cursor {
                cursor: pointer;
            }
            .loginBtn {
                border-radius: 16px;
                background: linear-gradient(180deg, $yellow2 0%, $yellow1 100%);
                padding: 11px;
                width: 100%;
                margin: 2rem 0 0.7rem;
                transition: all .6s ease-in-out;
                &:hover {
                    background: linear-gradient(180deg, $yellow1 0%, $yellow2 100%);
                }
            }
        }
    }
    .image {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem;
        height: 100%;
        border-radius: 30px 0 0 30px;
        background: radial-gradient(48.59% 48.61% at 52% 59.23%, $yellow1 9.97%, $yellow3 100%);
        @include sm {
            display: none;
        }
        .logo {
            max-width: 250px;
        }
        .mockup {
            margin-top: 5rem;
            width: 50%;
        }
    }
}


