.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 998;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #ffcb2d;
    -webkit-mask: radial-gradient(circle closest-side at 50% 40%, #0000 94%, #000);
    transform-origin: 50% 40%;
    animation: l25 1s infinite linear;
    z-index: 999;
    left: 50%;
    top: 50%;
    position: absolute;
}

@keyframes l25 {
    100% {
        transform: rotate(1turn)
    }
}